<%- include("../partials/header") %>

<div id="loginRegisterBox">
	
	<div id="loginRegisterSubBox" class="mx-auto">
	<h1 class="text-center">LOGIN</h1>
		<form action="/login" method="POST">
			<input id="inputLoginRegister" class="col-xs-3" type="text" placeholder="Username" name="username"/>
			<div id="spacing"></div>
			<input id="inputLoginRegister" class="col-xs-3" type="password" placeholder="Password" name="password"/>
			<div id="spacing"></div>
			<button class="btn btn-primary">
				Submit
			</button>
		</form>
    </div>
    
</div>


<%- include("../partials/footer") %>